@viewport{
    zoom: 1.0;
    width: device-width;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}




ul#menu {
    padding: 0;
}



.css-input {
    margin-left: 15vw;
    border-style: solid;
	padding: 5px;
	font-size: 1.2em;
	border-radius: 6px;
	border-width: 0px;
	border-color: #0a030a;
	box-shadow: 4px 3px 4px 0px rgba(42,42,42,.76);
	font-family: cursive;
    width: 170px;
}

.css-input:focus {
	outline: none;
}

.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 160px;
  height: 30px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid rgba(25,28,27,1);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font: bold 17px/27px "Advent Pro", Helvetica, sans-serif;
  color: rgba(9,10,9,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.4) 51%, rgba(0,0,0,0) 100%, rgba(0,0,0,0.2) 100%), rgba(0,0,0,0);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.4) 51%, rgba(0,0,0,0) 100%, rgba(0,0,0,0.2) 100%), rgba(0,0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.4) 51%, rgba(0,0,0,0) 100%, rgba(0,0,0,0.2) 100%), rgba(0,0,0,0);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.enjoy-css:hover {
  border: 2px solid rgba(40,43,42,1);
  color: rgba(15,13,13,1);
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0, rgba(200,200,200,1) 100%), rgb(30, 205, 151);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0, rgba(200,200,200,1) 100%), rgb(30, 205, 151);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0, rgba(200,200,200,1) 100%), rgb(30, 205, 151);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.enjoy-css:active {
  border: 2px solid rgba(34,38,36,1);
  color: rgba(255,255,255,1);
  background: -webkit-linear-gradient(-90.46923439010001deg, rgba(246,248,249,1) 0, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%), -webkit-linear-gradient(0deg, rgba(255,255,255,0) 0, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.8) 51%, rgba(255,255,255,0.8) 100%), -webkit-linear-gradient(0deg, rgba(150,150,150,1) 0, rgba(95,95,95,1) 50%, rgba(50,50,50,1) 51%, rgba(30,30,30,1) 100%), rgba(33,224,163,1);
  background: -moz-linear-gradient(180.4692343901deg, rgba(246,248,249,1) 0, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%), -moz-linear-gradient(90deg, rgba(255,255,255,0) 0, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.8) 51%, rgba(255,255,255,0.8) 100%), -moz-linear-gradient(90deg, rgba(150,150,150,1) 0, rgba(95,95,95,1) 50%, rgba(50,50,50,1) 51%, rgba(30,30,30,1) 100%), rgba(33,224,163,1);
  background: linear-gradient(180.4692343901deg, rgba(246,248,249,1) 0, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%), linear-gradient(90deg, rgba(255,255,255,0) 0, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.8) 51%, rgba(255,255,255,0.8) 100%), linear-gradient(90deg, rgba(150,150,150,1) 0, rgba(95,95,95,1) 50%, rgba(50,50,50,1) 51%, rgba(30,30,30,1) 100%), rgba(33,224,163,1);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

